html 
head 
 title First program 
body 
    h1 Hello world 
    p this is Paragraph 
    h1(align="center") How are you?
    pre(style="font_style:italic;color:pink") Paragraph
    i thankyou 
    table(border-width='1px',border-color='red')
        tr 
        th name
        th id 
        tr 
        td xyz 
        td 123