html 
body 
   form(action="/login",method="\post")
      label(for="uname") Username:
      input(type="text",name="uname",placeholder="Enter username")
      br
      label(for="password") Password:
      input(type="password",name="psw",placeholder="Enter password")
      br
      |email:
      input(type="email", name="email", placeholder="Enter email")
      br
      button(type="submit") Login